* {
  font-family: 'inter', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(23, 12, 12);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.conitainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  width: 35%;
}

.conitainer p {
  font-size: 18px;
  font-weight: bolder;
}

.entry_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 0px;
}

input[type='text'] {
  width: 35%;
  border: none;
  outline: none;
  font-style: italic;
  font-size: 18px;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-checkbox input[type='checkbox'] {
  margin-right: 20px;
}

.btn-clear {
  border: none;
  outline: none;
  width: 35%;
  padding: 10px;
  font-size: 16px;
}

.br {
  width: 5%;
  border: none;
  border-top: 3px solid #000;
  margin: 10px 0;
}

.arrow {
  cursor: move;
}